{% extends "base.html" %} {% block title %} Approve Holiday Requests {% endblock
%} {% block content %}

<h2 class="my-4">Approve Holiday Requests</h2>
<form action="{{ url_for('views.approve_holiday') }}" method="POST">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="table-primary">
        <tr>
          <th scope="col">Action</th>
          <th scope="col">User</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
        </tr>
      </thead>
      <tbody>
        {% for holiday in holidays %}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="holiday_action_{{ holiday.id }}"
                value="approve"
                id="approve{{ holiday.id }}"
              />
              <label class="form-check-label" for="approve{{ holiday.id }}"
                >Approve</label
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="holiday_action_{{ holiday.id }}"
                value="decline"
                id="decline{{ holiday.id }}"
              />
              <label class="form-check-label" for="decline{{ holiday.id }}"
                >Decline</label
              >
            </div>
          </td>
          <td>{{ holiday.owner.fname }} {{ holiday.owner.lname }}</td>
          <td>{{ holiday.start_date.strftime('%Y-%m-%d') }}</td>
          <td>{{ holiday.end_date.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit Changes</button>
  <a href="{{ url_for('views.dashboard') }}" class="btn btn-secondary float-end"
    >Cancel</a
  >
</form>

{% endblock %}
