{% extends "base.html" %} {% block title %} New Task {% endblock %} {% block
content %}

<h1 class="text-center mt-2">New Task</h1>

<form action="{{ url_for('views.create_task') }}" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Task Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter task title"
      value=" {{ title | default('') }}"
      required
    />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Task Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      placeholder="Enter task description"
    >
{{ description | default ('')}}</textarea
    >
  </div>

  <div class="mb-3">
    <label for="priority" class="form-label">Priority</label>
    <select class="form-select" id="priority" name="priority" required>
      <option value="low">Low</option>
      <option value="medium" selected>Medium</option>
      <option value="high">High</option>
    </select>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="start_date" class="form-label">Start Date</label>
      <input
        type="datetime-local"
        class="form-control"
        id="start_date"
        name="start_date"
        value="{{ start_date | default ('') }}"
      />
    </div>
    <div class="col-md-6 mb-3">
      <label for="due_date" class="form-label">Due Date</label>
      <input
        type="datetime-local"
        class="form-control"
        id="due_date"
        name="due_date"
        required
      />
    </div>
  </div>

  <div class="mb-3">
    <label for="status" class="form-label">Status</label>
    <select class="form-select" id="status" name="status" required>
      <option value="pending" selected>Pending</option>
      <option value="in-progress">In Progress</option>
      <option value="completed">Completed</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Create Task</button>
  <a href="{{ url_for('views.dashboard') }}" class="btn btn-secondary float-end"
    >Cancel</a
  >
</form>

{% endblock %}
