{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}

<div class="row">
  <div class="col-6 text-start mt-2">
    <a href="{{ url_for('views.task_form') }}" class="btn btn-primary"
      >New Task</a
    >
  </div>
  <div class="col-6 text-end mt-2">
    <a href="{{ url_for('auth.logout') }}" class="btn btn-primary">Log Out</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h2 class="mt-4">Your Tasks</h2>
    <ul class="list-group">
      {% for task in tasks %}
      <li class="list-group-item">
        <h5>{{ task.title }}</h5>
        <p>{{ task.description }}</p>
        <small>Priority: {{ task.priority }}</small><br />
        <small>Due Date: {{ task.due_date }}</small><br />
        <small>Status: {{ task.status }}</small>
      </li>
      {% else %}
      <li class="list-group-item">No tasks available.</li>
      {% endfor %}
    </ul>
  </div>
  <div id="calendar" class="col-lg-6"></div>
</div>

{% endblock %}
