{% extends "base.html" %} {% block title %} Login {% endblock %} {% block
content %}

<form method="POST">
  <div class="mb-3 mt-5">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      name="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <a href="{{ url_for('auth.register') }}" class="btn btn-secondary float-end"
    >Register</a
  >
</form>

{% endblock %}
