{% extends "base.html" %} {% block title %}Register User{% endblock %} {% block
content %}

<div class="row d-flex mt-4">
  <h1 class="align-self-center text-center">Register New User</h1>
</div>

<form method="POST" action="{{ url_for('auth.register') }}">
  <div class="mb-3 mt-4">
    <label for="email">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter Email"
      value="{{ email | default('') }}"
    />
  </div>
  <div class="mb-3">
    <label for="fname">First Name</label>
    <input
      type="text"
      class="form-control"
      id="fname"
      name="fname"
      placeholder="Enter First Name"
      value="{{ fname | default('') }}"
    />
  </div>
  <div class="mb-3">
    <label for="lname" class="form-label">Surname</label>
    <input
      type="text"
      class="form-control"
      id="lname"
      name="lname"
      placeholder="Enter Surname"
      value="{{ lname | default('') }}"
    />
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter Password"
    />
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm Password"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="{{ url_for('auth.login') }}" class="btn btn-secondary float-end"
    >Cancel</a
  >
</form>

{% endblock %}
